DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8000,http://127.0.0.1:8000

POSTGRES_DB=DATABASE_NAME
POSTGRES_USER=DATABASE_USRE
POSTGRES_PASSWORD=DATABASE_PASSWPORD
POSTGRES_HOST=DATABASE_HOST
POSTGRES_PORT=DATABASE_PORT
